{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endif %}

    <h2>{{ item.title }}</h2>
    {% if item.image_url %}
        <div><img src="{{item.image_url}}" alt="image of {{ item.title }}"></div>
    {% endif %}
    <div>{{ item.description }}</div>
    <div>Category: {{ item.category }}</div>
    <div>Selling User: {{ item.selling_user }}</div>
    <div>Current Bid: {{ item.current_bid }} </div>

    {% if user.is_authenticated %}
        <form action="{% url 'item' item.id %}" method="POST">
            {% csrf_token %}
            {{ bid_form }}
            <input type="submit" value="Submit Bid" name="bid-btn">
        </form>


        <div><button>Placeholder for Add to watchlist</button></div>
    {% endif %}

        <div class="card">
            <div class="card-header">
            Comments for {{ item.title }}
            </div>
        {% if comments %}
            {% for comment in comments %}
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{ comment.comment }}</p>
                <footer class="blockquote-footer">{{ comment.post_author }} on {{ comment.post_date }}</footer>
              </blockquote>
            </div>
            {% endfor %}
        {% else %}
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>Be the first to add a comment!</p>
                </blockquote>
            </div>    
        {% endif %}
        </div>

        {% if user.is_authenticated %} 
            <form action="{% url 'item' item.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="Add Comment" name="comment-btn">
            </form>
        {% endif %}    

{% endblock %}